<!DOCTYPE html>
<html>

<head>
<title>NetworkViz</title>
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>
<div id="root"></div>
<script type="text/babel">
//This viz is done using D3
class TopSide extends React.Component {
    render() {
        return(
            <form>
            <input id="myQuery"></input>
            <button type="button" onClick={() => this.props.onClick()}>submit</button>
            </form>
            );
    }
}

class Root extends React.Component{
    submit() {

        const myQuery = document.getElementById("myQuery").value
        const url = 'http://localhost:5000'
        fetch(url,
        {
            method:'POST',
            body:myQuery
        }).then(function(response) {
            return response.json();
        }).then(myJson => {
            this.setState({g:{nodes:myJson.nodes, links:myJson.links}});
        });

        console.log(this.state)
        var graph = this.state.g

        var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

        var color = d3.scaleOrdinal(d3.schemeCategory10);

        var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

        var link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(graph.links)
        .enter().append("line")
        .attr("stroke-width", 5)
        .attr("stroke", "grey");

        var node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("circle")
        .data(graph.nodes)
        .enter().append("circle")
        .attr("r", 5)
        .attr("fill", function(d) { return color(d.group); })
        .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

        node.append("title")
        .attr("dx", 12)
        .attr("dy", ".35em")
        .text(function(d) { return d.id });

        node.append("text")
        .attr("dx", 12)
        .attr("dy", ".35em")
        .attr('fill', "red")
        .text(function(d) { return d.id });

        node.append("image")
        .attr("xlink:href", "https://github.com/favicon.ico")
        .attr("x", -8)
        .attr("y", -8)
        .attr("width", 16)
        .attr("height", 16);

        simulation
        .nodes(graph.nodes)
        .on("tick", ticked);

        simulation.force("link")
        .links(graph.links);

        function ticked() {
            link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

            node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
        };

        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }

        function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
        }
    }

    constructor(props) {
        super(props);
        this.state = {
            g:{}
        };
    }

    render(){
        return(
            <div className="root">
            <TopSide state={this.state} onClick={()=>this.submit()}/>
            <svg id="viz" height="800" width="800"></svg>
            </div>
            );
    }
}

//------------------------//
ReactDOM.render(<Root />, document.getElementById("root"));



</script>
</body>

</html>
